@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-1: #FF9F0D;
  --gray-2: #4f4f4f;
  --black-ododod:#0d0d0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
}

body {
    line-height: 1.4;
}